dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
numpy==1.19.3
pandas==0.25.1
pandas-profiling==2.7.0
jsonschema==3.0.2
bz2file==0.98
pickleshare==0.7.5
joblib==0.13.2
plotly==4.1.1
tensorflow==2.1.0